.post-type-archive-jy_testimonials {
	color:#414042;
}
.post-type-archive-jy_testimonials h1 {
	margin:2.5em 0 1.2em;
}
.post-type-archive-jy_testimonials ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.post-type-archive-jy_testimonials blockquote {
	margin:0;
}
.post-type-archive-jy_testimonials blockquote p {
	font-family:inherit;
}

.quote footer {
	text-transform:uppercase;
}

.quote-mark {
	line-height:1;
	position:relative;
}

.quote-box > ul {
	background:rgb(207,43,60) none center top no-repeat;
	background-size:100% auto;
}
.quote-box li {
	background-color:rgb(207,43,60);
	padding:2em;
}
.quote-box blockquote {
	color:white;
}
.quote-box blockquote p {
	line-height:1.2;
	margin:0;
	color:inherit;
}
.quote-box .quote-mark.open {
	margin-right:0.1em;
}
.quote-box .quote-mark.close {
	margin-left:0.1em;
}
.quote-box footer {
	font-size:14px;
}
.quote-box footer span {
	display:block;
	margin-bottom:5px;
}

#featured-quote > ul {
	background-image:url(../images/testimonials/street.jpg);
	padding-top:118%;
}
#featured-quote blockquote p {
	font-size:15px;
}
#featured-quote blockquote {
	margin-bottom:25px;
}
#featured-quote footer {
	color:white;
}
#short-quotes {
	margin-bottom:70px;
}
#short-quotes > ul {
	background-image:url(../images/testimonials/studio.jpg);
	padding:7% 9% 7% 48%;
}
#short-quotes li {
	margin-bottom:2em;
}
#short-quotes li:last-child {
	margin-bottom:0;
}
#short-quotes blockquote {
	text-transform:uppercase;
}
#short-quotes blockquote p {
	font-weight:bold;
	font-size:24px;
}
#short-quotes footer {
	font-size:21px;
	text-transform:none;
}

#main-quotes {
	width:auto;
	max-width:100%;
	margin:0;
}
#main-quotes .quote {
	padding-top:183px;
	background:transparent none center top no-repeat;
	background-size:162px auto;
}
#main-quotes p {
	font-size:15px;
	line-height:18px;
}
#main-quotes footer {
	font-size:14px;
	font-weight:bold;
	line-height:1.3;
	padding-bottom:25px;
	border-bottom:1px solid #cc303a;
	margin-bottom:70px;
}
#main-quotes footer span::after {
	content:'|';
	margin:0 0.2em 0 0.4em;
}
#main-quotes footer span:last-child::after {
	display:none;
}


.post-type-archive-jy_testimonials .jasons-quote {
	text-align:center;
	font-size:20px;
	margin:50px 0;
	line-height:2;
}

@media (min-width:640px) {
	.quote-box > ul {
		background-position:left center;
		background-size:auto 100%;
	}
	.quote-box li {
		padding:0;
	}
	#featured-quote > ul {
		padding:5% 2% 3% 44%;
	}
	#main-quotes .quote {
		padding-top:0;
		padding-left:183px;
		background-position:left top;
		min-height:162px;
	}
	.post-type-archive-jy_testimonials .jasons-quote {
		margin-left:10%;
		margin-right:10%;
	}
}
@media (min-width:700px) {
	.quote-box footer {
		font-size:16px;
	}
	#featured-quote > ul {
		padding-left:40%;
		padding-right:5%;
	}
	#featured-quote blockquote p {
		font-size:16px;
	}
}
@media (min-width:760px) {
	.quote-box footer {
		font-size:17px;
	}
	#featured-quote > ul {
		padding-left:35%;
		padding-right:8%;
	}
	#featured-quote blockquote p {
		font-size:19px;
	}
}
@media (min-width:855px) {
	#featured-quote > ul {
		padding-left:32%;
		padding-right:4%;
	}
	#featured-quote blockquote p {
		font-size:21px;
	}
}
